# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = guoarthur
#	email = arthur.guo@uwaterloo.ca
[user]
	name = Arthur Guo
	email = arthur.guo@uwaterloo.ca
